/* Global CSS */

* {
	outline: none;
	color: #DDD;

	background-position: center center;
	background-repeat: no-repeat;
}

/* General CSS */

QMenu {
    background-color: #555; /* sets background of the menu */
    border: 1px solid #222;
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: transparent;
    padding: 5px;
    padding-left: 30px;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #666;
}

QDialog {
	min-width: 300;
	background: "#555";
}

QListView {
	border: 0px;
	background: "transparent"
}

/* Hide horizontal scrollbars permanently */
QListView QScrollBar {
	height: 0px;
	width: 0px;
}

QPushButton {
	width: 30px;
	height: 30px;
	background: "#555";
	border: 1px solid "#333";
	font-family: "FontAwesome";
	font-size: 9pt;
}

QTextEdit, QLineEdit {
	background: "#555";
	border: 1px solid "#333";
	font-family: "FontAwesome";
	font-size: 9pt;
	color: "#fff";
}

QPushButton:pressed {
	background: "#777";
}

QPushButton:hover {
	background: "#666";
}

QPushButton:disabled {
	color: rgba(255, 255, 255, 50);
}

QPushButton[highlight="true"] {
	border: 1px solid white;
}

/* Specific CSS */

#Header {
	background: "#555";
	border: 1px solid "#444";
}

#Header QRadioButton {
	border-right: 1px solid #333;
	left: 2px;
}

#Header QRadioButton::indicator {
	width: 50px;
	height: 40px;
	border: 0px solid "transparent";
	border-bottom: 3px solid "transparent";
	background-repeat: no-repeat;
	background-position: center center;
}

#Header QRadioButton:checked {
	background-color: rgba(255, 255, 255, 20);
	border-bottom: 3px solid "lightblue";
}

#Body {
	padding: 10px;
	border: 1px solid "#333";
	background: "#444";
}

#Header #ArtistTab {
	background-image: url("img/logo-white.png");
}

#Header #TerminalTab {
}

#Header #OverviewTab {
}

#Footer {
	min-height: 47px;
}

#ClosingPlaceholder {
	background: rgba(0, 0, 0, 50);
}

#CommentBox, #CommentPlaceholder {
	font-family: Open Sans;
	font-size: 8pt;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px;
}

#CommentBox {
	background: #444;
	selection-background-color: #222;
}

#CommentPlaceholder {
	color: #888
}

#Details {
	background: #222;
	border: 1px solid #444;
}

#Details QLabel {
	font-size: 9pt;
}

#Details #Heading {
	font-weight: bold;
}

#Details #Subheading {
	font-size: 8pt;
	opacity: 0.5;
}

#Details #Duration {
	opacity: 0.5;
}

#Details QListView {
	font-size: 8pt;
}