/* Global CSS */

* {
	outline: none;
	color: #DDD;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;

	background-position: center center;
	background-repeat: no-repeat;
}

/* General CSS */

QMenu {
    background-color: #555; /* sets background of the menu */
    border: 1px solid #222;
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: transparent;
    padding: 5px;
    padding-left: 30px;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #666;
}

QDialog {
	background: "#555";
}

QTableView {
	border: 0px;
	color: #DDD;
	selection-background-color: "steelblue";
	background: "transparent"
}

QTableView::item:focus {
}

QTableView QCheckBox {
	max-width: 10px;
}

QTableView QCheckBox::indicator {
	width: 8px;
	height: 8px;
	background: "transparent";
	border: 1px solid "white";
}

QTableView QCheckBox::indicator:checked {
	background: "white";
}

QPushButton {
	width: 30px;
	height: 30px;
	background: "#555";
	border: 1px solid "#333";
}

QPushButton:pressed {
	background: "#777";
}

QPushButton:hover {
	background: "#666";
}

/* Specific CSS */

#Header {
	background: "#555";
	border: 1px solid "#444";
}

#Header QCheckBox::indicator {
	width: 60px;
	height: 40px;
	border: none;
	border-right: 1px solid "#333";
}

#Header QCheckBox::indicator:checked {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid "lightblue";
}

#Body {
	padding: 10px;
	border: 1px solid "#333";
	background: "#444";
}

#Header #Home {
	background-image: url("img/logo-white.png");
	background-position: center center;
}

#Footer #Play {
	background-image: url("img/button-publish.png");
	background-position: center center;
	background-repeat: no-repeat;
}

#Footer #Stop {
	background-image: url("img/button-close.png");
	background-position: center center;
}

#Footer #Reset {
	background-image: url("img/button-reset.png");
	background-position: center center;
}