/* Global CSS */

* {
	outline: none;
	color: #DDD;

	background-position: center center;
	background-repeat: no-repeat;
}

/* General CSS */

QMenu {
    background-color: #555; /* sets background of the menu */
    border: 1px solid #222;
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: transparent;
    padding: 5px;
    padding-left: 30px;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #666;
}

QDialog {
	min-width: 300;
	background: "#555";
}

QListView {
	border: 0px;
	background: "transparent"
}

/* Hide horizontal scrollbars permanently */
QListView QScrollBar {
	height: 0px;
	width: 0px;
}

QPushButton {
	width: 30px;
	height: 30px;
	background: "#555";
	border: 1px solid "#333";
	font-family: "FontAwesome";
	font-size: 9pt;
}

QPushButton:pressed {
	background: "#777";
}

QPushButton:hover {
	background: "#666";
}

/* Specific CSS */

#Header {
	background: "#555";
	border: 1px solid "#444";
}

#Header QCheckBox::indicator {
	width: 60px;
	height: 40px;
	border: none;
	border-right: 1px solid "#333";
}

#Header QCheckBox::indicator:checked {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid "lightblue";
}

#Body {
	padding: 10px;
	border: 1px solid "#333";
	background: "#444";
}

#Header #Home {
	background-image: url("img/logo-white.png");
	background-position: center center;
}

#Footer {
	min-height: 47px;
}
